.menu-bar {
    display: flex;
    flex-direction: column;
    padding: 4px 8px;
    cursor: pointer;
}

.menu-line {
    width: 28px;
    height: 3px;
    background-color: #000;
    margin: 2px 0;
}