.container-btn-menu {
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 8px;
}

.navbar {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    align-items: center;
    background-color: var(--primary);
    transform: translateY(-200px);
    transition: transform 0.35s ease-in-out;
}

.navbar.active {
    transform: translateY(0);
}

.login-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-links .link {
    text-decoration: none;  
    color: #FFFFFF;
    padding: 8px 0;
}

